<%= render 'shared/head', title: 'login', back: true %>
<div class="container-fluid vh-100 pt-10">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'form' }) do |f| %>
    <div class="row">
      <div class="col-md-6 mx-auto">
        <div class="mb-3 py-3">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'Email', class: 'form-control py-2 border-bottom mx-auto outline-none text-md', required: true %>
        </div>

        <div class="mb-3 py-3">
          <%= f.password_field :password, autocomplete: "current-password", placeholder: 'Password', class: 'form-control py-2 border-bottom mx-auto outline-none text-md', required: true %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="mb-3 px-3 text-gray-500 text-16px">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end %>

        <div class="text-center py-3 text-md text-gray-400 text-lg mt-4">
          <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
        </div>
      </div>
    </div>

    <div class="row justify-content-center px-5 py-7">
      <%= f.submit "Log in", class: 'btn  text-center text-white py-3' %>
    </div>
  <% end %>
</div>
